<h1>Manage Your Surveys!</h1>

<div class="well">
  <% if @surveys.any?() %>

    <h3>Here are the surveys!</h3>

    <ul>
      <% @surveys.each() do |survey| %>
        <li>
          <a href="/surveys/<%= survey.id %>"><%= survey.name() %></a>
        </li>
      <% end %>
    </ul>

  <% else %>

    <h3>THERE AREN'T ANY SURVEYS!</h3>

  <% end %>

  <form action="/surveys" method="post">
    <div class="form-group">
      <label for="name">Name Survey:</label>
      <input type="text" name="name" id="name" class="form-control">
      <br>
      <button type="submit" class="btn btn-primary">Submit!</button>
    </div>
  </form>
</div>
