<h1><%= @survey.name %></h1>


<form action="/surveys/<%= @survey.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class = "form-group">
    <label for="name">Rename Survey!</label>
    <input type="text" name="name" id = "name" class = "form-control">
    <br>
    <button type = "submit" class="btn btn-primary">Update!</button>
  </div>
</form>

<form action="/surveys/<%= @survey.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-primary">Delete</button>
</form>


<h6><a href="/surveys">Back to Surveys</a></h6>
<h6><a href="/">Back Home</a></h6>
